ul {
    /* height: 330px; */
    list-style-type: none;
    overflow: auto;
    padding: 10px;
    width: 500px;
}

li {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px dashed #410d0d;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    margin: 4px 2px;
    padding: 16px 32px;
    text-decoration: none;
}

li.lngSelected {
    background-color: lightyellow;
    border: 3px dashed #410d0d;
}

li:hover {
    background-color: lightyellow;
}

li>img {
    width: 30%;
    height: auto;
}

.lbl {
    padding: 30px;
}